<div ng-controller="signin" class="main-menu signin-menu" id='signin-menu'>
    <div class="sign-in-titles">
        <a href="#!/signin" class="mybtn left">
            <span class="material-icons signin-tab-icon flex-center">login</span>
             <div class="flex-center"> Sign in</div>
        </a>
        <a href="#!/register" class="mybtn right toggled-btn"> 
            <span class="material-icons signin-tab-icon flex-center">how_to_reg</span>                
            <div class="flex-center">Register</div>
        </a>
    </div>

    <div class="inputs-container flex-center">

        <div class="sign-input username-input">
            <div class="signin-checkbox"></div>
            <input class="signin-input-box user-input" placeholder="Username" type="text">
            <div class="signin-icon">
                <span class="material-icons">
                    person
                </span>
            </div>
        </div>
        <div class="sign-input username-input">
            <div class="signin-checkbox"></div>
            <input class="signin-input-box user-input" placeholder="E-mail address" type="text">
            <div class="signin-icon">
                <span class="material-icons">
                    email
                </span>
            </div>
        </div>

        <div class="sign-input password-input">
            <div class="signin-checkbox"></div>
            <input class="signin-input-box user-input" placeholder="Password" type="password">
            <div class="signin-icon">
                <span class="material-icons">
                    password
                </span>
            </div>
        </div>
        <div class="sign-input password-input">
            <div class="signin-checkbox"></div>
            <input class="signin-input-box user-input" placeholder="Re-enter password" type="password">
            <div class="signin-icon">
                <span class="material-icons">
                    password
                </span>
            </div>
        </div>

        <div class="sign-input password-input">
            <div class="signin-checkbox"></div>
            <input class="signin-input-box user-input" placeholder="Phone Number" type="number">
            <div class="signin-icon">
                <span class="material-icons">
                    phone_iphone
                </span>
            </div>
        </div>

        <div class="login-btn-container flex-center">
            <button class="login-btn">Create Account</button>
        </div>
    </div>
</div>